<%= link_to 'Runners Page', "/runners#index" %>
<%= link_to 'Races Page', "/races#index" %>
<h1>Races</h1>
<% @races.each do |race| %>
  <h3><%= race.location %></h3>
  <p><%= race.created_at %></p>
<% end %>