<form action="/runners" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p> Add Runner: </p>
           Name:<input type='text' name='runner[name]'/><br/>
          Shoes:<textarea name='runner[shoes]'></textarea><br/>
        Spikes?:<textarea name='runner[spikes]'></textarea><br/>
          Team?:<textarea name='runner[team]'></textarea><br/>
Races Completed:<textarea name='runner[races_completed]'></textarea><br/>
Add Runner: <input type='submit'/>
</form>
